html {
  scroll-behavior: smooth;
}

* {
  margin:0;
  padding:0;
}

.font{
  font-family: 'Oswald', sans-serif;
}

.italic{
  font-style: italic;
}

.light{
  font-weight:lighter;
}

.gray{
  color:gray;
}

.page{
  padding: 2rem;
}

.list ul{
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  margin: 5rem;
}

.list li{
  float: left;
}

.list li a{
  display: block;
  text-align cneter;
  padding: 14px 16px;
  text-decoration: none;
}

.list li a:hover {
  background-color: #111;
  color:white;
}
;
