#titlebar{
background-color: #93231d;
overflow: hidden;
border-bottom-style: solid;
}

#titlebar a {
float: right;
color: #ddd;
text-align: center;
padding: 14px 16px;
font-size: 18px;
}

#titlebar a:hover {
background-color: #ba2525;
color: black;
}

#titlebar a:active {
background-color: #b7443e;
color: white;
}

body {
	background-color:#8e93a0;
}

#social-bar img {
	width: 2%;
	height: auto;
  border-style: inline;
  border-color: black;
}

.background-image {
	vertical-align: middle;
	height: 35rem;
	background-image: url("http://www.neubritekingdom.com/banner-image.jpg");
	background-repeat: no-repeat;
	background-position: 100.00% 17.13%;
	background-size: 100%;
	background-color: transparent;
	background-size: cover;
}

.main-text {
	padding: 8rem;
	font-size: 2rem;
	font-color: white;
}

.social-bar{
  background-color: #2f2f30;
  float: right;
}

.social-bar .twitter {

	border: 1px solid transparent;
	border-radius: 4px;
}